

{% if basket_item.quantity %}
    <div class="basket-btns no-select">
        <div class="remove no-select ajax-link" data-href="{% url 'basket_update' 'remove' product.id %}">-</div>
        <div class="data no-select ajax-link">В корзине: {{ basket_item.quantity }}</div>

        <div class="add no-select
            {% if basket_item.product_size.quantity > basket_item.quantity %}
                ajax-link
            {% else %}
                no-active
            {% endif %}
        " data-href="{% url 'basket_update' 'add' product.id %}">+</div>
    </div>
{% else %}
    <div class="basket-btns no-select">
        <div class="data no-select ajax-link" data-href="{% url 'basket_update' 'add' product.id %}">Добавить в корзину</div>
    </div>
{% endif %}









